$white: white;
$black: black;
$blue: blue;
$red: red;
$green: green;
$yellow: yellow;
$orange: orange;
$purple: purple;
$pink: pink;
$brown: brown;
$gray: gray;

$dark-red: darkred;
$dark-blue: darkblue;
$dark-gray: darkgray;
$dark-green: darkgreen;
$dark-orange: darkorange;

$light-gray: lightgray;
$light-blue: lightblue;
$light-green: lightgreen;
$light-yellow: lightyellow;