.section {
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  background-position: center;
  background: linear-gradient(rgba(81, 81, 81, 0.467) 0% 100%), url(image.png);
}
.section h1 {
  margin-top: 350px;
}

.section #btn {
  position: absolute;
  top: 480px;
  left: 580px;
}

.section .qator {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section .qator .katak {
  width: 150px;
  height: 8vh;
}

.section .qator .katak h1 {
  margin-top: 0px;
  font-size: 12px;
}

.section .qator .katak p {
  font-size: 8px;
}

.section2 {
  width: 100%;
  height: 117vh;
}

.section2 .container p {
  font-size: 30px;
}

.section2 .container .row {
  position: relative;
  width: 86%;
  height: 50px;
  left: 10%;
  gap: 10px;
}

.section2 .container .row .col-md-2 {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 .container .row2 {
  position: relative;
  width: 85% !important;
  height: -moz-max-content;
  height: max-content;
  left: 9%;
  top: 50px;
  gap: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section2 .container .row2 .col-md-4 {
  width: 275px;
  height: 220px;
  background-image: url(image2.png);
  background-size: cover;
  background-position: center;
}

.section2 .container .row2 .col-md-4:nth-child(2) {
  background-image: url(image3.png);
  background-size: cover;
  background-position: center;
}

.section2 .container .row2 .col-md-4:nth-child(3) {
  background-image: url(image4.png);
  background-size: cover;
  background-position: center;
}

.section2 .container .row2 .col-md-4:nth-child(4) {
  background-image: url(image5.png);
  background-size: cover;
  background-position: center;
}

.section2 .container .row2 .col-md-4:nth-child(5) {
  background-image: url(image6.png);
  background-size: cover;
  background-position: center;
}

.section2 .container .row2 .col-md-4:nth-child(6) {
  background-image: url(image7.png);
  background-size: cover;
  background-position: center;
}

.section3 {
  width: 100%;
  height: 55vh;
  background-size: 15%;
  background-image: url(https://s3-alpha-sig.figma.com/img/949f/d424/0895b446d9cacf54560e67393c8417f7?Expires=1737331200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bwmEdBgkz1CY-lvA3DakvK4lDc-Y4AzXUafIAzoiCJ9rC7kckxzySlg2aqg58o68ARz9H5Ava-OhsFlLdeQcLqsNeQe6fcnb9O8cdgfEToYN3ZX7voARgH1hb7bA~rt8gAdiOLSBsCri7tYHl4ZJZij96l~jha~47gQqLifoosERfFK9MLJlLT8Bm59SMyYscGA4EUQgQL31n35bWSeKNg~E3EB8SNljZWnjP1TdonSQu1lwMSd4Lx4skJSP6TXqqrJHOJmFW~~DvgpMc0ZU9TXe-74hXx52OrNyClwC0BrQ2iZEFCqmOPz1b6buE~zscX0FvKYEDl3QAJeJ-iqDmg__);
}

.section3 .hover {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 560px;
  margin-top: 50px;
  cursor: pointer;
}

.section4 {
  width: 100%;
  height: 100vh;
}

.section4 aside {
  position: relative;
  width: 70%;
  height: 500px;
  left: 15%;
  top: 100px;
}

.section4 aside .row1 {
  width: 100%;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.section4 aside .row1 .col-md-4 {
  width: 300px;
  height: 320px;
  background-image: url(image8.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section4 aside .row1 .col-md-4:nth-child(2) {
  background-image: url(image9.png);
  background-size: cover;
  background-position: center;
}

.section4 aside .row1 .col-md-4:nth-child(3) {
  background-image: url(image10.png);
  background-size: cover;
  background-position: center;
}

.section4 aside .hover {
  width: 250px;
  height: 50px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
  margin-top: 30px;
  cursor: pointer;
}

.section5 {
  width: 100%;
  height: 100vh;
}

.section5 aside {
  position: relative;
  width: 70%;
  height: 500px;
  left: 15%;
}

.section5 aside .row {
  position: absolute;
  top: 130px;
  width: 100%;
  height: 500px;
  left: 12px;
}

.section5 aside .row .col-md-6 {
  background-image: url(image11.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section5 aside .row .col-md-3:nth-child(2) {
  background-image: url(image12.png);
  background-size: cover;
  background-position: center;
}

.section5 aside .row .col-md-3:nth-child(3) {
  background-image: url(image13.png);
  background-size: cover;
  background-position: center;
}

.section5 aside .row .divv {
  background-image: url(image16.png);
  background-size: cover;
  background-position: center;
}

.section5 aside .row .col-md-3:nth-child(4) {
  background-image: url(image14.png);
  background-size: cover;
  background-position: center;
}

.section5 aside .row .col-md-3:nth-child(5) {
  background-image: url(image15.png);
  background-size: cover;
  background-position: center;
}

.ff {
  width: 100%;
  height: 60vh;
  background-size: 15%;
  background-image: url(https://s3-alpha-sig.figma.com/img/949f/d424/0895b446d9cacf54560e67393c8417f7?Expires=1737331200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bwmEdBgkz1CY-lvA3DakvK4lDc-Y4AzXUafIAzoiCJ9rC7kckxzySlg2aqg58o68ARz9H5Ava-OhsFlLdeQcLqsNeQe6fcnb9O8cdgfEToYN3ZX7voARgH1hb7bA~rt8gAdiOLSBsCri7tYHl4ZJZij96l~jha~47gQqLifoosERfFK9MLJlLT8Bm59SMyYscGA4EUQgQL31n35bWSeKNg~E3EB8SNljZWnjP1TdonSQu1lwMSd4Lx4skJSP6TXqqrJHOJmFW~~DvgpMc0ZU9TXe-74hXx52OrNyClwC0BrQ2iZEFCqmOPz1b6buE~zscX0FvKYEDl3QAJeJ-iqDmg__);

}

.ff .bb {
  width: 390px;
  height: 120px;
  background-color: white;
  margin-left: 700px;
  margin-top: -110px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ff .bb input {
  width: 200px;
  height: 50px;
}

.ff .bb button {
  width: 145px;
  height: 50px;
  background-color: black;
  color: white;
  border: 0;
}

@media screen and (max-width: 992px) {
  .section {
    background-size: cover;
  }

  nav {
    display: flex;
    justify-content: space-between !important;
  }

  .navbar-logo {
    display: block !important;
  }
}





.bexruzbek .navv {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bexruzbek .navv h5 {
  color: white;
}
.bexruzbek .navv .top {
  width: 78px;
  height: 24px;
}
.bexruzbek .navv img {
  width: 200px;
  height: 50px;
}
.bexruzbek .navv .link {
  width: 230px;
  height: 24px;
}
.bexruzbek .con {
  width: 100%;
  height: 80px;
}
.bexruzbek .con .l {
  width: 900px;
  height: 40px;
  display: flex;
  gap: 20px;
  margin: auto;
}
.bexruzbek .con .l .ch {
  width: 160px;
  height: 34px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid 2px rgba(116, 114, 114, 0.671);
}
.bexruzbek .kon {
  width: 100%;
  height: 170vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.bexruzbek .kon .child {
  width: 300px;
  height: 400px;
  margin: auto;
}
.bexruzbek .kon .child img {
  width: 300px;
  height: 200px;
}
.bexruzbek .kon .child h3 {
  margin-left: 110px;
}
.bexruzbek .kon .child h2 {
  margin-left: 58px;
  margin-top: 40px;
}
.bexruzbek .kon .child button {
  width: 120px;
  height: 40px;
  background: black;
  color: white;
  border: 0;
  margin-top: 30px;
  margin-left: 90px;
}
.bexruzbek .b button {
  width: 160px;
  height: 40px;
  background: black;
  color: white;
  border: 0;
  margin-left: 600px;
}
.bexruzbek .bon {
  width: 100%;
  height: 90vh;
  display: flex;
}
.bexruzbek .bon .ll {
  width: 650px;
  height: 400px;
  margin: auto;
}
.bexruzbek .bon .ll p {
  font-family: sans-serif;
}
.bexruzbek .bon .r {
  width: 270px;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
}
.bexruzbek .black {
  width: 100%;
  height: 70vh;
  background-color: black;
}
.bexruzbek .black h2 {
  color: white;
  margin-left: 380px;
}
.bexruzbek .black h1 {
  color: white;
  font-size: 35px;
  margin-left: 450px;
  margin-top: 40px;
}
.bexruzbek .black .g {
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bexruzbek .black .g .o {
  width: 340px;
  height: 200px;
}
.bexruzbek .black .g .o p {
  font-family: sans-serif;
  font-size: 25px;
  margin-top: 30px;
  color: white;
}
.bexruzbek .black .c {
  width: 600px;
  height: 200px;
  background: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bexruzbek .black .c input {
  width: 300px;
  height: 60px;
}
.bexruzbek .black .c button {
  background: black;
  color: white;
  border: 0;
  width: 200px;
  height: 60px;
}/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */